
*{
        background-color: #AEFC27;
    margin: 0;
        /* border: solid 1px red; */
        color: #000000;
        
}

.header-area{

    width: auto;
    height: 50px;

    
    
}


.nav-links{


    float: right;
    right: 0;

    padding-top: 10px;
}

.logo{
      
        width: 225px;
}

.testtwo{

height: 0;
width: 0;
margin-right: 45px;
}
h1{

    width: 200px;
        margin-left: 25px;
}


.main-container{

    height: 1000px;

    
}

.text-area{
    text-align: center;
    padding-top: 85px;
}

button{
background-color: #000000;
color: #AEFC27;
border-radius: 15px;
font-size: 26px;

}


img{
    width: 200px;
        height: 200px;
        border-radius: 50%;
        align-items: center;
display: block;
    margin-left: auto;
    margin-right: auto;
margin-top: 55px;
}

.quotes{
 
    font-size: 45px;
    font-family: Urbanist,
        sans-serif;
    

}
.author{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 35px;


}

a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 25px;
}